<section>
<div><h1>A Gentleman...</h1>
</div><div><i class="massive blind icon">DOES</i></div>
</section>

{%include 'menu'%}

{% schema %}
 {
 	"name": "Main Menu",
 	"settings": [
 	{
 		"type": "link_list",
 		"id": "main_linklist",
 		"label": "Menu"
 		
 	}]
 }
{% endschema %}